###### 维数与返回类型的关系 : 二维表示与自己相同的类型，一维表示比自己低的类型  
从低到高 : np或者list   series  dataframe

In [9]:
df1[['a']] #df类型

   a
0  1
1  4
2  7

###### loc查询

In [18]:
df1.loc[:,['a','b']]  #loc都是返回df的  #[:4,df1.columns[2]]也可以  # .loc[ [1,2,3],'a']  可以取 1 2 3 行 这里可以放list或者index类型

   a  b
0  1  2
1  4  5
2  7  8

###### 条件筛选

In [ ]:
df1[条件]   
#原则：选和修改必须分开两步以上，不能同时做  例如下面
#a=df[df.ID<2].index.tolist()
#df.loc[a,"ID"]=赋值一个series

In [22]:
a=df1[df1.loc[:,'a']==4] #a=df1[df1['a']==4] df可以一用非loc方法，series一定要非loc
a
# 可以用 | 和 & 来连接判断语句  df1[(条件一) & (条件二)]  多条件写法

   a  b  c
1  4  5  6

######  处理空值

In [46]:
df1[df1.loc[:,'c'].isnull()].index.tolist() # 查出age为空的行 .tolist()  #最常用

[2]

In [67]:
df1[df1.loc[:,'c']==np.nan] #

Empty DataFrame
Columns: [a, b, c]
Index: []

In [61]:
#查找缺失值  
print(df1)
c=pd.isnull(df1['c'])#获得行标，之后再根据行标做操作  
print(c,'\n','tolist之后',c.tolist()) #这个跟上面的isnull不同，这个是返回bool形
df1.loc[c.tolist(),:]

     a    b    c
0  1.0  2.0  3.0
1  4.0  5.0  6.0
2  7.0  8.0  NaN
0    False
1    False
2     True
Name: c, dtype: bool
 tolist之后 [False, False, True]

     a    b   c
2  7.0  8.0 NaN

In [66]:
# 填充缺失值
df1.fillna(0) #可以 整个df 或者其中列 填充

     a    b    c
0  1.0  2.0  3.0
1  4.0  5.0  6.0
2  7.0  8.0  0.0