In [18]:
import numpy as np
import pandas as pd
import os
import matplotlib.pyplot as plt

In [75]:
a=[[1,2,3],[4,5,6],[7,8,9]]
df1=pd.DataFrame(np.array(a),columns=['a','b','c'])
df1

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [39]:
print('1.读前5行',df1.head(5))#tail看尾巴

1.读前5行    a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [41]:
print('2.形状',df1.shape)

2.形状 (3, 3)

In [48]:
df1.dtypes #给出每一列的数据类型
# full.info()

a    int32
b    int32
c    int32
dtype: object

In [27]:
df1.describe()

         a    b    c
count  3.0  3.0  3.0
mean   4.0  5.0  6.0
std    3.0  3.0  3.0
min    1.0  2.0  3.0
25%    2.5  3.5  4.5
50%    4.0  5.0  6.0
75%    5.5  6.5  7.5
max    7.0  8.0  9.0

In [4]:
# 给行和列标起名
df1.index.name='name'  
df1.columns.name='data'  
df1

data  0  1  2
name
0     1  2  3
1     4  5  6
2     7  8  9

In [6]:
df1.columns #多了一个name属性

RangeIndex(start=0, stop=3, step=1, name='data')

In [7]:
df1.columns.name

'data'

In [67]:
df1.reindex([1,'a','b']) #选择行标

     a    b    c
1  4.0  5.0  6.0
a  NaN  NaN  NaN
b  NaN  NaN  NaN

In [64]:
df1.reindex(columns=[1,'xiaoming','b']) #选择列标

    1  xiaoming  b
0 NaN       NaN  2
1 NaN       NaN  5
2 NaN       NaN  8

###### 行坐标修改

###### 列名修改

###### 排列问题

###### 修改数据类型