##### 一、打开文档

###### pandas读txt
pd.read_csv

###### pd.read_table

In [15]:
df2=pd.read_table(path,encoding='utf8') #,encoding='ansi' #有些文件是xls结尾，但不一定是excel文件   这个一般用于读txt
df2

               a,b
0  0000001,0000001
1  0000002,0000002
2  0000006,0000006
3  0000008,0000008
4  0000009,0000009
5  0000012,0000012
6  0000027,0000027
7  0000028,0000028

In [ ]:
#逗号分隔的一一般是txt，或者csv
#  pd.read_excel()   这种是读标准的excel文件，非逗号空格符的

###### open的方法读

###### 这个非常常用

In [17]:
# (2)方法二：用open
with open(r'.\test.txt', 'r') as f:
    lines = f.readlines() #每行作读作一个str ，['第一行','第二行']
    print(lines)
    tokens = [i.rstrip('\n').split(',') for i in lines] #rstrip('内容') 删除字符串末尾的'内容'
    print(tokens) 
    
#     tokens0 = [i.rstrip('\n').split(',')[0] for i in lines]
#     print('取出第一列\n',tokens0)

#     #经过split
#     #a=[[一行],[二行],['1','2']] ,逗号为分隔符 
#     idx_label = dict((int(idx), label) for idx, label in tokens)#创建字典，数字：‘名字’
df2=pd.DataFrame(tokens[1:],columns=tokens[0]) # 将list转成 df
print(df2)

['a,b\n', '0000001,0000001\n', '0000002,0000002\n', '0000006,0000006\n', '0000008,0000008\n', '0000009,0000009\n', '0000012,0000012\n', '0000027,0000027\n', '0000028,0000028\n', '\n']
[['a', 'b'], ['0000001', '0000001'], ['0000002', '0000002'], ['0000006', '0000006'], ['0000008', '0000008'], ['0000009', '0000009'], ['0000012', '0000012'], ['0000027', '0000027'], ['0000028', '0000028'], ['']]
         a        b
0  0000001  0000001
1  0000002  0000002
2  0000006  0000006
3  0000008  0000008
4  0000009  0000009
5  0000012  0000012
6  0000027  0000027
7  0000028  0000028
8              None

In [18]:
#二、读属性
print('1.读前5行',df1.head(5))#tail看尾巴
print('\n2.形状',df1.shape)
print('\n3.有哪些列:',df1.columns)
print('\n4.每个列的数据类型:',df1.columns)
print('\n5.读values',df1.values) #回到list

1.读前5行          a        b
0  0000001  0000001
1  0000002  0000002
2  0000006  0000006
3  0000008  0000008
4  0000009  0000009

2.形状 (8, 2)

3.有哪些列: Index(['a', 'b'], dtype='object')

4.每个列的数据类型: Index(['a', 'b'], dtype='object')

5.读values [['0000001' '0000001']
 ['0000002' '0000002']
 ['0000006' '0000006']
 ['0000008' '0000008']
 ['0000009' '0000009']
 ['0000012' '0000012']
 ['0000027' '0000027']
 ['0000028' '0000028']]

In [ ]:
# 修改属性
# (1) numpy: array.astype(np.float32)
# (2) 强转换: df.astype(int)
# (3) series改变属性
pd.to_numeric(df1['a'], errors='coerce')  #默认转为float64  coerce表示无效数据变为nan, errors='ignore'表示对无效数不做改变
# (4) 用apply函数，返回int(元素)，再赋值给原df

###### 保存问题

In [1]:
#十二、保存
    # data.to_csv(path,sep=',',index=0) #不同value之间用逗号隔开,na_rep='NA',float_format='%.2f'保留两位小数,header=0不保留列名,index=0不保留行索引
    # header=0 列名不保存
    # np.savetxt(path,c,fmt='%d') #03d表示整数为3位，不够的话前面添0
    # encoding= 'utf-8' 保留00001  如果没有，默认是保存为数字1

In [1]:
import pandas as pd

In [3]:
a=pd.DataFrame([[1,2,3],[4,5,6]])

In [4]:
a

   0  1  2
0  1  2  3
1  4  5  6

In [30]:
a.to_csv('./123.csv')

PermissionError: [Errno 13] Permission denied: './123.csv'